*{font-family:"IBM Plex Sans KR", sans-serif;}
body{font-size:15px;color:#696969;}

/*  nav  */
.web-menu{z-index:9;font-weight:500;position:absolute;top:0;left:0;width:100%;display:flex;height:60px;align-items:center;justify-content:space-between;}
.web-menu:hover{background-color:#fff;}
.web-menu:hover a{color:#696969;}
.web-menu > a{padding:5px 20px;display:flex;align-items:center;}
.web-menu > a > img{width:80%;}
.web-menu > ul{display:flex;height:100%;}
.web-menu > ul > li{transition:0.3s;height:100%;}
.web-menu > ul > li > a{transition:.3s;color:#fff;display:block;padding:20px;}
.web-menu > ul > li:last-child{background-color:#957765;}
.web-menu > ul > li:last-child > a{color:#fff !important;}
.web-menu > ul > li > a:hover{background-color:rgba(0,0,0,0.1);transition:.3s;color:#696969;}

/*  mob_nav  */
/*.mob_nav{z-index:9;width:100%;position:absolute;top:0;left:0;display:flex;justify-content:right;}*/
/*.mob_nav > .ham_btn{z-index:10;padding:20px;display:flex;flex-direction:column;gap:8px;cursor:pointer;}*/
/*.mob_nav > .ham_btn > span{display:block;width:28px;height:2px;background-color:black;border-radius:10px;}*/
/*.mob_nav > .menu{width:100vw;height:100vh;position:absolute;display:flex;justify-content:right;}*/
/*.mob_nav > .menu > ul{z-index:8;background-color:white;width:50%;height:100%;padding:50px;}*/

/*.mob_nav{width:100vw;position:absolute;top:0;left:0;z-index:999;border:1px solid red;}*/
/*.mob_nav > h1{display:flex;padding:5px 15px;}*/
/*.book_btn{cursor:pointer;width:100vw;position:absolute;bottom:0;left:0;font-size:1.5rem;text-align:center;line-height:4rem;background-color:#957765;color:#fff;}*/
/*.menu{position:absolute;top:0;right:0;height:100vh;width:100vw;max-width:0;transition:0.5s ease;z-index:1;background-color:#eee;}*/
/*.menu .menu_bg{width:100vw;height:100%;padding:20px;}*/
/*.menu .menu_bg > .sm_menu{display:flex;margin-top:10px;justify-content:end;}*/
/*.menu .menu_bg > .sm_menu > p{margin-right:10px;cursor:pointer;}*/
/*.menu .menu_bg > ul{margin-top:10px;}*/
/*.menu .menu_bg > ul > li{font-size:1.5rem;letter-spacing:-1px;margin-bottom:7px;}*/
/*.menu .menu_bg > ul > li:hover{color:#946161;transition:.3s;}*/
/*.burger-icon {cursor:pointer;display:inline-block;position:absolute;z-index:2;padding:10px 0;top:20px;right:30px;user-select:none;width:auto;margin:0;}*/
/*.burger-icon:hover .burger-sticks:after,.burger-sticks:before,.burger-sticks{background:#595959;}*/
/*.burger-icon:hover .burger-sticks:before{background:#595959;}*/
/*.burger-icon:hover .burger-sticks{background:#595959;}*/
/*.burger-icon .burger-sticks {background:#fff;display:block;height:2px;position:relative;transition:background .2s ease-out;width:25px;border-radius:10px;}*/
/*.burger-icon .burger-sticks:before,.burger-icon .burger-sticks:after{background:#fff;content:'';display:block;height:100%;position:absolute;transition:all .2s ease-out;width:100%;}*/
/*.burger-icon .burger-sticks:before{top:7px;}*/
/*.burger-icon .burger-sticks:after{top:-7px;}*/
/*.burger-check{display:none;}*/
/*.burger-check:checked~.menu{max-width:100vw;}*/
/*.burger-check:checked~.burger-icon .burger-sticks{background:transparent;}*/
/*.burger-check:checked~.burger-icon .burger-sticks:before{transform: rotate(-45deg);background:#696969;}*/
/*.burger-check:checked~.burger-icon .burger-sticks:after{transform:rotate(45deg);background:#696969;}*/
/*.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:before,*/
/*.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:after{top:0;}*/





.mobile-menu{display:block;position:absolute;top:0;right:0;z-index:500;width:60px;height:60px;padding:0;}
.mob_logo{position:absolute;top:0;left:0;z-index:9;padding:6px 10px;width:110px;}
.mob_logo > img{width:100%;}
button.mobile-menu{border:none;background-color:transparent;}
.mobile-menu i{font-size:2em;color:white;}
.menuwrap{position:fixed;top:0;right:-300px;z-index:400;overflow:auto;width:300px;height:100%;padding:50px 20px;box-sizing:border-box;transition:right .3s ease-in-out;background-color:#f0f0f0;}
.menuwrap.on{right:0;}
.menuwrap > .book_btn{width:100%;position:absolute;bottom:0;left:0;font-size:1rem;background-color:#c6a795;color:#fff;letter-spacing:1px;font-weight:600;border:none;}
.menuwrap > .book_btn:hover{background-color:#957765;}
#menu .logo{display:block;width:100px;}
#menu .logo > img{width:100%;}
#menu > ul{padding:10px 0;}
#menu > ul > li{line-height:2rem;font-size:1rem;}
#dimmed{position: fixed;top:0;left:0;z-index:300;width:100%;height:100%;background-color:rgba(0,0,0,0.5);}






/*  main  */
section.main{width:100%;height:100vh;position:relative;}
section.main > .bg-video{overflow:hidden;width:100%;height:100%;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
section.main > .bg-video > video{width:100%;height:100%;object-fit:cover;}
section.main > .booking{width:100%;max-width:1320px;display:flex;z-index: 99;position:absolute;bottom:120px;left:50%;transform:translate(-50%,0);background-color:#fff;}
section.main > .booking > .cal_box,.options,button{border-right:1px solid #f2f2f2;padding:18px 35px;width:20%;}
section.main > .booking > button{border:none;background-color:#c6a795;color:#fff;font-weight:600;letter-spacing:1px;transition:.2s;}
section.main > .booking > button:hover{background-color:#957765;cursor:pointer;transition:.2s;}
section.main > .booking > .cal_box{display:flex;flex-direction:column;}
section.main > .booking > .cal_box > label{color:#444;font-weight:600;letter-spacing:0.5px;}
section.main > .booking > .cal_box > input{border:none;color:#999999;}
section.main > .booking > .options{display:flex;align-items:center;justify-content:space-between;}
section.main > .booking > .options > p{color:#444;font-weight:600;letter-spacing:0.5px;}
section.main > .booking > .options > select{display:flex;border:none;}


/*  Rooms  */
.container{max-width:1320px;margin:0 auto;padding:80px 0;}
.container > .title_box{width:100%;display:flex;align-items:end;margin-bottom:50px;}
.container > .title_box > h2{line-height:2rem;font-size:2.8rem;font-family: "Jacques Francois", serif;color:#946161;}
.container > .title_box > p{margin-left:15px;line-height:0.9rem;}
.container > .room_container{width:100%;display:grid;grid-template-columns:1fr 1fr 1fr;grid-template-rows:auto;grid-gap:20px;}
.container > .room_container > .card{display:block;transition:.3s;}
/*.container > .room_container > .card:hover{box-shadow:1px 1px 3px rgba(0,0,0,0.3);transform:translate(-3px,-3px);transition:.3s;}*/
.container > .room_container > .card > img{width:100%;transition:.5s;}
.container > .room_container > .card:hover > img{filter:brightness(70%);transition:.5s;}
.container > .room_container > .card:hover > h3{color:#444;transition:.5s;}
.container > .room_container > .card > h3{font-family:"Jacques Francois", serif;font-size:1.5rem;transition:.5s;}
.container > .room_container > .card > p{}
.container > .room_container > .card > div{margin-top:10px;}
.container > .room_container > .card > div > p{}

/*  special offer  */
.bg{background-color:#e0e4e3;}
.pic{display:flex;overflow:hidden;margin-bottom:10px;}
.pic > img{width:100%;height:fit-content !important;transition:.5s;}
a.offer > h3{transition:.3s;}
a.offer:hover img{transform:scale(1.05);transition:.5s;filter: brightness(0.8);}
a.offer:hover h3{color:#946161;transition:.3s;}

/*  swiper  */
.swiper-button-next:after,.swiper-button-prev:after{color:#f2f2f2;transform:scale(0.8);}



/*  info  */
.container.flex{display:flex;}
.container.flex > div{width:50%;}
.container.flex > div > h3.bg_title{margin-bottom:30px;}
.container.flex > div:first-child{padding-right:40px;}
.container.flex > div:last-child{padding-left:40px;}
.container.flex > div > .map{margin-bottom:30px;}
.container.flex > div > .card_container{display:flex;justify-content:space-between;margin-bottom:70px;}
.container.flex > div > .card_container > a{box-shadow:1px 1px 2px rgba(0,0,0,0.1);text-align:center;display:flex;flex-direction:column;align-items:center;border-radius:10px;overflow:hidden;width:31%;}
.container.flex > div > .card_container > a > img{width:100%;}
.container.flex > div > .card_container > a > span{font-size:0.9rem;}
.container.flex > div > .card_container > a > span.sm_title{padding-top:20px;margin-bottom:2px;font-family: "Jacques Francois", serif;}
.container.flex > div > .card_container > a > span.line{display:block;width:20px;height:1px;background-color:#696969;margin:8px 0 8px;}
.container.flex > div > .card_container > a > h4{font-size:1rem;font-weight:600;}
.container.flex > div > .card_container > a > p{font-size:0.8rem;padding-bottom:20px;}
.container.flex > div > ul{}
.container.flex > div > ul > li{border-bottom:1px solid #d2d2d2;font-size:0.9rem;line-height:32px;display:flex;justify-content:space-between;}

/*  Footer  */
.footer{background-color:#595959;color:#fff;font-size:0.8rem;}
.footer > .container{padding:40px 0 40px;}
.footer > .container > ul{display:flex;align-items:center;}
.footer > .container > ul > span{display:block;height:10px;width:1px;background-color:#fff;margin:0 8px;}
.footer > .container > ul > a > li:hover{color:#957765;}

/*  FirstRoom  */
.room_main{width:100vw;height:300px;background-size:cover;background-position:center;background-image:linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.8)),url("../src/media/디럭스 더블 3 PC_20171219162518.jpg");background-repeat:no-repeat;
display:flex;justify-content:center;align-items:center;font-size:2rem;font-weight:600;color:#fff;}
.room_main > p{font-family:"Jacques Francois", serif;}
.room_main > img{width:100%;}
.room_select{}
.room_select > ul{background-color:#c6a795;;color:#fff;display:flex;width:100%;justify-content:center;}
.room_select > ul > a{padding:20px;}
.room_select > ul > a:hover{background-color:#fff;color:#595959;}
.container.rooms > h2{font-weight:300;margin-bottom:10px;font-size:1.8rem;font-family: "Jacques Francois", serif;color:#946161;}
.container.rooms > p{margin-bottom:30px;}
.room_swiper img{width:100%;object-fit: cover;}
.room_detail{padding:30px 0;}
.room_detail > ul{display:flex;justify-content: space-between;margin-bottom:40px;}
.room_detail > ul > li > ul > li,.room_detail > ul.first > li{list-style: circle inside;}
.room_detail > ul > li{width:50%;line-height:1.8rem;}
.room_detail > h2{font-weight:300;margin-bottom:10px;font-size:1.8rem;font-family: "Jacques Francois", serif;color:#946161;}
.room_detail > ul > li > p{margin-bottom:8px;font-size:1.5rem;font-family: "Jacques Francois", serif;color:#444444;}
.hotel_info{border:1px solid #d2d2d2;;padding:30px;}
.hotel_info > h3{margin-bottom:10px;font-weight:300;color:#444444;font-size:1.4rem;font-family: "Jacques Francois", serif;}
.hotel_info > ul > li{list-style: circle inside;line-height:1.8rem;}


/*  responsive  */
@media(max-width: 1024px){
    body{font-size:14px;}
    .container{padding:40px 20px;}
    .footer > .container{padding:40px 20px;}
    .container > .title_box > h2{font-size:2rem;}
    .container > .room_container{grid-template-columns:1fr 1fr;}
    .container.flex{flex-direction:column;}
    .container.flex > div{width:100%;}
    .container.flex > div:first-child,.container.flex > div:last-child{padding:0;}
    .container.flex > div:first-child{margin-bottom:40px;}
    .container.flex > div > h3.bg_title{margin-bottom:10px;}
}

@media(max-width: 768px){
    body{font-size:13px;}
    .container > .room_container{grid-template-columns:1fr;}
    .container > .room_container > .card{margin-bottom:20px;}
    .container > .room_container > .card > div > p{}
    /*section.main > .booking{display:none;}*/
    .room_swiper{height:400px;}
    .room_swiper img{height:100%;}
    section.main > .booking{flex-direction:column;width:80vw;bottom:50px;}
    section.main > .booking > .cal_box,.options,button{border-right:none;border-bottom:1px solid #f2f2f2;width:100%;padding:12px 25px;}
    .room_select > ul > a{padding:12px;}
    .container.flex > div > .card_container{flex-direction:column;}
    .container.flex > div > .card_container > a{width:100%;margin-bottom:15px;}
}

@media(max-width: 768px){
    .room_swiper{height:300px;}
}